@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular.ttf');
}

* {
    font-family: 'OpenSans-Regular', sans-serif;

}

h1, h2, p {
    margin: 0;
}

h2 {
    margin-bottom: 10px;
}

.text, .post, .news {
    font-size: 14px;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 40px 280px 20px 400px 20px 120px 20px;
    grid-gap: 20px;
    grid-template-areas:
"header"
"nav"
"article"
"div1"
"section-news"
"div2"
"section-post"
"footer";
}

#header {
    grid-area: header;
}

#nav {
    grid-area: nav;
}

#article {
    grid-area: article;
}

#div1 {
    grid-area: div1;
}

#section-news {
    grid-area: section-news;
}

#div2 {
    grid-area: div2;
}

#section-post {
    grid-area: section-post;
}

#footer {
    grid-area: footer;
}

header h1 {
    font-size: 48px;
    letter-spacing: 3px;

}

nav, .div1, .div2 {
    background-color: #90c83c;
}

nav ol {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0;
    height: 100%;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

article {
    display: flex;
}

article div {
    border: 15px solid #e6e6e7;
}

article > .text {
    padding: 10px;

}

article > .text h2,
.news > div h2 {
    text-align: center;
}


article > .img {
    margin-left: 20px;
}

article > .text span,
.news > div h2 {
    color: #2171bf;
    font-weight: bold;
}

.news {
    display: flex;
    justify-content: space-between;

}

.news > div {
    margin-right: 20px;
}

.post {
    background-color: #e6e6e7;
    display: flex;
}

.post > p {
    margin-left: 20px;
    padding: 10px 0;
}

footer {
    text-align: center;
    font-size: 12px;
}